<p>
  <label class="main" [ngStyle]="labelStyle" [ngClass]="{'tm-text-blue': !labelStyle}">{{label}}{{control.isRequired() ? '*' : ''}}:</label>
  <span class="input" [ngClass]="{'w3-pale-red w3-border-red': isInvalid()}">
    <input type="text" [name]="control.name" [formControl]="control" class="w3-input" [tmUppercase]="true"/>
    <span class="tester" [ngStyle]="{backgroundColor: getColor()}"></span>
  </span>
  <span *ngIf="isInvalid()" class="w3-text-red w3-small">{{getErrorMessage()}}</span>
</p>
