<h1>Definicje przelewów</h1>

<div class="w3-row header">
  <div class="w3-col m6">
    <button class="w3-btn tm-blue" [routerLink]="Path.transferDefinition()"><i class="fa-solid fa-plus"></i> Nowa</button>
  </div>
  <div class="w3-col m6 tm-right-align">
    <tm-filter (change)="onFilterChange($event)"></tm-filter>
  </div>
</div>

<div class="w3-responsive">
  <table class="w3-table-all w3-hoverable w3-card">
    <colgroup>
      <col width="5%">
      <col width="20%">
      <col width="20%">
      <col width="20%">
      <col width="10%">
      <col width="20%">
      <col width="5%">
    </colgroup>
    <thead class="w3-text-white">
      <tr>
        <th>ID</th>
        <th>Konto źródłowe</th>
        <th>Konto docelowe</th>
        <th>Kategoria</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th class="w3-center-align">Opcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let definition of tableData?.rows" (click)="onRowClick(definition)">
        <td>{{definition.id}}</td>
        <td>{{definition.sourceAccount.code}}</td>
        <td>{{definition.destinationAccount.code}}</td>
        <td>{{definition.category.name}}</td>
        <td>{{definition.name}}</td>
        <td>{{definition.description}}</td>
        <td class="w3-center-align">
          <i class="fa-regular fa-circle-play" [routerLink]="Path.transfer(definition.id)"></i>
          &nbsp;
          <i class="fa-regular fa-trash-can" (click)="onRemoveClick($event, definition)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<tm-pagination [tableInfo]="tableData?.tableInfo" [pageSize]="tableParams.pageSize" [pageNo]="tableParams.pageNo"
  (pageChange)="onPageNoChange($event)" (pageSizeChange)="onPageSizeChange($event)"></tm-pagination>

<tm-dialog [config]="dialogConfig"></tm-dialog>
