div.header {
  margin-bottom: 8px;
}

div.pagination {
  margin-top: 16px;

  div {
    @media (max-width: 601px) {
      text-align: center;
    }
  }

  div.right {
    text-align: right;
    @media (max-width: 600px) {
      padding-top: 8px;
      text-align: center;
    }
  }
}

select {
  width: 60px;
  background-color: white;
  border-radius: 5px;
  margin: 0px 8px;
}