@import '/src/styles/variables.scss';

div.panel {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

div.item {
  width: 80px;
  text-align: center;
  padding: 2px;
  border-radius: 3px;
  color: white;
}