<nav #nav class="w3-sidebar w3-collapse w3-white w3-animate-left">
  <div class="w3-container">
    <span class="w3-right w3-xxlarge w3-padding tm-mobile" (click)="closeMenu()"><i class="fa fa-remove"></i></span>
    <img src="/assets/tmoney-logo.png" class="logo">
    <h3>TMoney 3.0</h3>
    <p class="w3-text-grey">by Tejlor OLAWA</p>
  </div>
  <div class="w3-bar-block">
    <a [routerLink]="Path.dashboard" (click)="closeMenu()" class="w3-bar-item w3-button"><i class="fa-solid fa-money-check-dollar"></i>Dashboard</a> 
    <a [routerLink]="Path.categories" (click)="closeMenu()" class="w3-bar-item w3-button"><i class="fa-solid fa-table"></i>Kategorie</a> 
    <a (click)="updateBalances()" class="w3-bar-item w3-button"><i class="fa-solid fa-calculator"></i>Przelicz salda</a> 
    <a (click)="generateSummaryPdf()" class="w3-bar-item w3-button"><i class="fa-solid fa-calculator"></i>Generuj PDF</a> 
    <a (click)="generateReportPdf()" class="w3-bar-item w3-button"><i class="fa-solid fa-calculator"></i>Generuj Raport</a> 
  </div>
</nav>

<div #overlay class="w3-overlay w3-animate-opacity tm-mobile" (click)="closeMenu()"></div>

<span class="w3-button w3-xxlarge tm-mobile" (click)="openMenu()">
  <i class="fa fa-bars"></i>
</span>
<a [routerLink]="Path.dashboard" class="logo">
  <img src="/assets/tmoney-logo.png" class="w3-circle w3-right w3-hover-opacity tm-mobile">
</a>

<main class="w3-main">
  <router-outlet></router-outlet>
</main>
