@use "sass:list";

$blue:
  #010b14, #021729, #03233d, #052f52, #063b66, #07467b, #09528f, #0a5ea4, #0b6ab8,
  #0d76cd, 
  #2583d2, #3d91d7, #559fdc, #6dace1, #86bae6, #9ec8eb, #b6d5f0, #cee3f5, #e6f1fa;

$green:
  #091001, #122002, #1c3103, #254104, #2f5205, #386206, #417207, #4b8308, #549309
  #5ea40a, 
  #6ead22, #7eb63a, #8ebf53, #9ec86c, #aed184, #beda9d, #cee3b5, #deecce, #eef5e6;

@function themeBlue($id) {
  @return list.nth($blue, $id + 10);
}

@function themeGreen($id) {
  @return list.nth($green, $id + 10);
}

$mobile-width: 600px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mobile-width + 1}) {
    @content;
  }
}
