@import '/src/styles/variables.scss';

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  margin: 16px 0px;

  @include mobile {
    flex-direction: column;
    margin: 0px;
  }
}

