div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  margin: 16px 0px;

  @media (max-width: 600px) {
    flex-direction: column;
    margin: 0px;
  }
}

