<div class="w3-card w3-white w3-margin-top w3-padding form">
  <h1>{{account ? account.name : 'Nowe konto'}}</h1>
  <form [formGroup]="formGroup">
    <div class="w3-row">
      <div class="w3-col m6 tm-left">
        <tm-input-text label="Kod" [control]="control(CODE)"></tm-input-text>
        <tm-input-text label="Nazwa" [control]="control(NAME)"></tm-input-text>
        <tm-input-radio-group label="Aktywne" [control]="control(ACTIVE)" [options]="yesNoOptions"></tm-input-radio-group>
        <tm-input-radio-group label="Do podsumowania" [control]="control(INCLUDE_IN_SUMMARY)" [options]="yesNoOptions"></tm-input-radio-group>
        <tm-select label="Kategoria do balansowania" [control]="control(BALANCING_CATEGORY)" [options]="categories"></tm-select>
        <tm-input-text label="Pozycja" [control]="control(ORDER_NO)"></tm-input-text>
        <tm-input-icon label="Ikona" [control]="control(ICON)"></tm-input-icon>
      </div>
      <div class="w3-col m6 tm-right">
        <tm-input-color label="Kolor" [control]="control(COLOR)"></tm-input-color>
        <tm-input-color label="Kolor jasny" [control]="control(LIGHT_COLOR)"></tm-input-color>
        <tm-input-color label="Kolor ciemny" [control]="control(DARK_COLOR)"></tm-input-color>
        <tm-input-image label="Logo" [control]="control(LOGO)" #logo></tm-input-image>
      </div>
    </div>
    <div>
      <button class="w3-btn w3-blue w3-border w3-border-blue" (click)="onSaveAndGoBack()">Zapisz i cofnij</button>
      &nbsp;
      <button class="w3-btn w3-border" (click)="onCancel()">Anuluj</button>
    </div>
  </form>
</div>