<h1>Konta</h1>

<div class="w3-row header">
  <div class="w3-col m6">
    <button class="w3-btn tm-blue" [routerLink]="Path.account()"><i class="fa-solid fa-plus"></i> Nowe</button>
  </div>
  <div class="w3-col m6 tm-right-align">
    <tm-filter [value]="tableParams.filter" (change)="onFilterChange($event)"></tm-filter>
  </div>
</div>

<div class="w3-responsive">
  <table class="w3-table-all w3-hoverable w3-card">
    <colgroup>
      <col width="5%">
      <col width="15%">
      <col width="20%">
      <col width="10%">
      <col width="10%">
      <col width="20%">
      <col width="10%">
      <col width="10%">
    </colgroup>
    <thead class="w3-text-white">
      <tr>
        <th>ID</th>
        <th>Kod</th>
        <th>Nazwa</th>
        <th class="w3-center-align">Aktywne</th>
        <th class="w3-center-align">Do podsumowania</th>
        <th>Kolory</th>
        <th class="w3-center-align">Pozycja</th>
        <th class="w3-center-align">Ikona</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of tableData?.rows" (click)="onRowClick(account)">
        <td>{{account.id}}</td>
        <td>{{account.code}}</td>
        <td>{{account.name}}</td>
        <td class="w3-center-align"><tm-yes-no-icon [value]="account.active"></tm-yes-no-icon></td>
        <td class="w3-center-align"><tm-yes-no-icon [value]="account.includeInSummary"></tm-yes-no-icon></td>
        <td><tm-account-colors [account]="account"></tm-account-colors></td>
        <td class="w3-center-align">{{account.orderNo}}</td>
        <td class="w3-center-align"><i [ngClass]="account.icon"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<tm-pagination [tableInfo]="tableData?.tableInfo" [pageSize]="tableParams.pageSize" [pageNo]="tableParams.pageNo"
  (pageChange)="onPageNoChange($event)" (pageSizeChange)="onPageSizeChange($event)"></tm-pagination>
