div.filter {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 5px;

  i {
    padding: 12px 12px 0px 12px;
    background: #ccc;
    text-align: center;
    border: 1px solid #ccc;
    border-right: none;
  }

  input {
    border: none;
    background-color: white;
    width: 300px;
    border-radius: 0px 5px 5px 0px;
  }
}