<h1>Kategorie</h1>

<div class="w3-row header">
  <div class="w3-col m6 tm-left">
    <button class="w3-btn tm-blue" (click)="onAddClick()"><i class="fa-solid fa-plus"></i> Nowy</button>
  </div>
  <div class="w3-col m6 tm-right">
    <tm-filter (change)="search($event)"></tm-filter>
  </div>
</div>

<div class="w3-responsive">
  <table class="w3-table-all w3-hoverable w3-card">
    <colgroup>
      <col width="5%">
      <col width="15%">
      <col width="20%">
      <col width="5%">
      <col width="20%">
      <col width="10%">
      <col width="20%">
      <col width="5%">
    </colgroup>
    <thead class="w3-text-white">
      <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Konta</th>
        <th class="w3-center-align">Raport</th>
        <th>Domyślna nazwa</th>
        <th class="w3-right-align">Domyślna kwota</th>
        <th>Domyślny opis</th>
        <th class="w3-center-align">Opcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of tableData?.rows" (click)="onRowClick(category)">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td><tm-account-badges [category]="category"></tm-account-badges></td>
        <td class="w3-center-align"><tm-yes-no-icon [value]="category.report"></tm-yes-no-icon></td>
        <td>{{category.defaultName}}</td>
        <td class="w3-right-align" [ngClass]="{'w3-text-red': category.defaultAmount < 0, 'w3-text-green': category.defaultAmount > 0}">
          {{category.defaultAmount | number: DEC_FORMAT}}</td>
        <td>{{category.defaultDescription}}</td>
        <td class="w3-center-align"><i class="fa-regular fa-trash-can" (click)="onDeleteClick($event, category)"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<tm-pagination [tableInfo]="tableData?.tableInfo" (pageSizeChange)="onPageSizeChange($event)"
  (pageChange)="onPageChange($event)"></tm-pagination>

<tm-category-delete-dialog [config]="dialogConfig" (onConfirm)="onDeleteConfirm()"></tm-category-delete-dialog>