<div class="body">
  <div class="w3-card w3-white w3-margin-top w3-padding form">
    <h1>{{category ? category.name : 'Nowa kategoria'}}</h1>
    <form [formGroup]="formGroup">
      <input type="hidden" formControlName="id" />
      <tm-input-text label="Nazwa:" [control]="formGroup.controls['name']"></tm-input-text>
      <div>
        <label class="main tm-text-blue">Konta:</label>
        <div class="w3-row" *ngFor="let row of accounts">
          <div *ngFor="let account of row" class="w3-col m6">
            <input type="checkbox" class="w3-check" #accountInput [attr.accountId]="account.id" [checked]="isAccountSelected(account)">
            <label> {{account.name}}</label>
          </div>
        </div>
        <input type="hidden" formControlName="account" />
      </div>
      <tm-input-radio-group label="Do raportów:" [control]="formGroup.controls['report']" [options]="reportOptions"></tm-input-radio-group>
      <tm-input-text label="Domyślna kwota:" [control]="formGroup.controls['defaultAmount']"></tm-input-text>
      <tm-input-text label="Domyślna nazwa:" [control]="formGroup.controls['defaultName']"></tm-input-text>
      <tm-textarea label="Domyślny opis:" [control]="formGroup.controls['defaultDescription']"></tm-textarea>
      <div>
        <button class="w3-btn w3-blue w3-border w3-border-blue" (click)="onSaveAndGoBack()">Zapisz i cofnij</button>
        &nbsp;
        <button class="w3-btn w3-border" (click)="onCancel()">Anuluj</button>
      </div>
    </form>
  </div>
</div>