<div class="w3-card w3-text-white w3-margin" [style.backgroundColor]="account.color">
  <h2><i [class]="account.icon"></i> {{account.name}}</h2>
  <div class="w3-container">
    <h3>{{entry.balance | number: '1.2-2'}} <span>PLN</span></h3>
    <div class="w3-row">
      <div class="w3-col m6">{{entry.name}}</div>
      <div class="w3-col m6 w3-right-align" [class]="{
          'red': entry.amount < 0, 
          'green': entry.amount > 0}">
        {{entry.amount | number:'1.2-2'}}
      </div>
    </div>
  </div>
  <div class="w3-bar">
    <button class="w3-btn" [routerLink]="'/table/'+account.code"><i class="fa-solid fa-table"></i></button>
    <button class="w3-btn"><i class="fa-solid fa-plus"></i></button>
    <button class="w3-btn"><i class="fa-solid fa-chart-column"></i></button>
    <button class="w3-btn"><i class="fa-solid fa-file-pdf"></i></button>
    <button class="w3-btn"><i class="fa-solid fa-gear"></i></button>
  </div>
</div>