<div class="w3-card-4 w3-white panel">
  <div class="w3-container">
    <div class="tm-center">
      <img src="/assets/user.svg" style="width: 40%" class="w3-margin-top" />
    </div>
    <form [formGroup]="formGroup" class="w3-section">
      <div *ngIf="errorMessage" class="w3-panel w3-pale-red w3-bar-left w3-border-red">
        <p>{{errorMessage}}</p>
      </div>
      <tm-input-text label="Login" name="login" [control]="control(LOGIN)"></tm-input-text>
      <tm-input-pass label="Hasło" name="password" [control]="control(PASSWORD)"></tm-input-pass>
      <button class="w3-button w3-block w3-round tm-green" (click)="onLogin()">Zaloguj</button>
    </form>
  </div>
</div>