@import '/src/styles/variables.scss';

div.header {
  margin-bottom: 8px;
}

div.pagination {
  margin-top: 16px;

  div {
    @include mobile {
      text-align: center;
    }
  }
}

select {
  width: 60px;
  background-color: white;
  border-radius: 5px;
  margin: 0px 8px;
}