<div class="w3-card w3-text-white" [style.backgroundColor]="account.colorCss" *ngIf="account">
  <h2><i [class]="account.icon"></i> {{account.name}}</h2>
  <div class="w3-container">
    <div class="w3-row">
      <p class="w3-col s6 date">{{entry?.date}}</p>
      <h3 class="w3-col s6">{{(account.code ? entry?.balance : entry?.balanceOverall)| number: DEC_FORMAT}} <span>PLN</span></h3>
    </div>
    <div class="w3-row last-transaction">
      <div class="w3-col m6">
        {{entry?.name}}
      </div>
      <div class="w3-col m6 amount" [class]="{'red': entry?.amount < 0, 'green': entry?.amount > 0}">
        {{entry?.amount | number: DEC_FORMAT}}
      </div>
    </div>
  </div>
  <div class="w3-bar buttons">
    <button class="w3-btn" [routerLink]="Path.entries(account.code)"><i class="fa-solid fa-table"></i></button>
    <button class="w3-btn" [routerLink]="Path.entry(account.code)"><i class="fa-solid fa-plus"></i></button>
    <button class="w3-btn" (click)="onUploadTransactionsClick($event)" *ngIf="canImportTransactions()"><i class="fa-solid fa-cloud-arrow-up"></i></button>
    <button class="w3-btn" [routerLink]="Path.accountBalancing(account.code)" *ngIf="account.balancingCategory"><i class="fa-solid fa-scale-balanced"></i></button>
    <button class="w3-btn"><i class="fa-solid fa-chart-column"></i></button>
    <button class="w3-btn" (click)="onPdfClick()"><i class="fa-solid fa-file-pdf"></i></button>
    <button class="w3-btn" [routerLink]="Path.account(account.code)"><i class="fa-solid fa-gear"></i></button>
  </div>
</div>
<tm-transactions-import-dialog [config]="dialogConfig" (onConfirm)="processImportedEntries($event)"></tm-transactions-import-dialog>