@import '/src/styles/variables.scss';

div.w3-card {
  margin: 0px;
  @include mobile {
    margin-bottom: 8px;
  }
  @include desktop {
    width: 500px;
    margin-top: 0px;
  }

  h2 {
    font-size: 38px;
    padding: 8px 16px;
    margin: 0px;
    font-variant: petite-caps;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    background-color: rgba(0,0,0,0.3);
    @include mobile {
      font-size: 26px;
    }
  }

  h3 {
    text-align: right;
    font-size: 28px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    @include mobile {
      font-size: 20px;
    }

    span {
      font-size: 18px;
      @include desktop {
        font-size: 14px;
      }
    }
  }

  p.date {
    font-size: 14px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    margin-top: 20px;
    @include mobile {
      font-size: 12px;
      margin-top: 16px;
    }
  }

  div.last-transaction {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    padding: 8px 16px;
    margin-bottom: 8px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);

    .red {
      color: #c3352b;
    }

    .green {
      color: #2d6930;
    }

    .amount {
      text-align: right;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
      @include mobile {
        text-align: left;
      }
    }
  }

  div.buttons {
    background-color: rgba(0,0,0,0.3);

    button {
      background: transparent;
      border-right: 1px solid black;
    }
  }
}