<div class="w3-modal" [style.display]="config.visible ? 'block' : 'none'">
  <div class="w3-modal-content w3-animate-top w3-card" [ngStyle]="{'width': config.width}">
    <header class="w3-container tm-blue"> 
      <span class="w3-button w3-display-topright" (click)="onClose()">&times;</span>
      <h2>{{config.header}}</h2>
    </header>
    <div class="w3-container">
      <p *ngIf="config.message">{{config.message}}</p>
      <ng-content></ng-content>
    </div>
    <footer class="w3-padding w3-border-top">
      <div class="w3-bar w3-right-align" >
        <button class="w3-button w3-round w3-white" (click)="onClose()">{{config.closeText}}</button>
        &nbsp;
        <button class="w3-button w3-round tm-green" (click)="onAccept()">{{config.acceptText}}</button>      
      </div>
    </footer>
  </div>
</div>
