  <div class="body">
  <div class="w3-card w3-white w3-margin-top w3-padding form">
    <h1>{{account?.name}}</h1>
    <form [formGroup]="formGroup">
      <input type="hidden" formControlName="id" />
      <p>
        <label class="main" [ngStyle]="{'color': this.account?.darkColor}">Nazwa:</label>
        <tm-input-text [control]="formGroup.controls['name']"></tm-input-text>
      </p>
      <div>
        <label class="main" [ngStyle]="{'color': this.account?.darkColor}">Data:</label>
        <tm-input-date [control]="formGroup.controls['date']"></tm-input-date>
      </div>
      <p>
        <label class="main" [ngStyle]="{'color': this.account?.darkColor}">Kwota:</label>
        <tm-input-text [control]="formGroup.controls['amount']"></tm-input-text>
      </p>
      <p>
        <label class="main" [ngStyle]="{'color': this.account?.darkColor}">Kategoria:</label>
        <tm-select [control]="formGroup.controls['category']" [options]="categories"></tm-select>
      </p>
      <p>
        <label class="main" [ngStyle]="{'color': this.account?.darkColor}">Opis:</label>
        <tm-textarea [control]="formGroup.controls['description']"></tm-textarea>
      </p>
      <div>
        <button class="w3-btn" [ngStyle]="{'background-color': account?.color, 'color': 'white'}" (click)="saveAndGoBack()">Zapisz i cofnij</button>
        &nbsp;
        <button class="w3-btn" [ngStyle]="{'background-color': account?.color, 'color': 'white'}" (click)="saveAndClear()">Zapisz i dodaj kolejny</button>
      </div>
    </form>
  </div>
</div>