<div class="body">
  <div class="w3-card w3-white w3-margin-top w3-padding form">
    <h1>{{category ? category.name : 'Nowa kategoria'}}</h1>
    <form [formGroup]="formGroup">
      <input type="hidden" formControlName="id" />
      <p>
        <label class="main">Nazwa:</label>
        <tm-input-text [control]="formGroup.controls['name']"></tm-input-text>
      </p>
      <div>
        <label class="main">Konta:</label>
        <div class="w3-row" *ngFor="let row of accounts">
          <div *ngFor="let account of row" class="w3-col m6">
            <input type="checkbox" class="w3-check" #accountInput [attr.accountId]="account.id" [checked]="isAccountSelected(account)">
            <label> {{account.name}}</label>
          </div>
        </div>
        <input type="hidden" formControlName="account" />
      </div>
      <p>
        <label class="main">Do raportów:</label>
        <br>
        <tm-input-radio [control]="formGroup.controls['report']" [value]="true" label="Tak"></tm-input-radio>
        &nbsp;&nbsp;
        <tm-input-radio [control]="formGroup.controls['report']" [value]="false" label="Nie"></tm-input-radio>
      </p>
      <p>
        <label class="main">Domyślna kwota:</label>
        <tm-input-text [control]="formGroup.controls['defaultAmount']"></tm-input-text>
      </p>
      <p>
        <label class="main">Domyślna nazwa:</label>
        <tm-input-text [control]="formGroup.controls['defaultName']"></tm-input-text>
      </p>
      <p>
        <label class="main">Domyślny opis:</label>
        <tm-textarea [control]="formGroup.controls['defaultDescription']"></tm-textarea>
      </p>
      <div>
        <button class="w3-btn w3-blue w3-border w3-border-blue" (click)="onSaveAndGoBack()">Zapisz i cofnij</button>
        &nbsp;
        <button class="w3-btn w3-border" (click)="onCancel()">Anuluj</button>
      </div>
    </form>
  </div>
</div>