@import 'styles/w3.scss';
@import 'styles/variables.scss';

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $lightGray;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

label.main {
  font-weight: bold;
}

.w3-container {
  @media (max-width: 600px) {
    padding: 8px !important;
  }
}

.w3-btn {
  border-radius: 3px;
  font-weight: bold;
}

.w3-select {
  background-color: white;
  border-radius: 5px;
}

.w3-hoverable tbody tr:hover {
	cursor: pointer;
}

form > p {
  margin: 24px 0px;
}

.w3-center {
  text-align: center;
}

.tm-blue {
  color: white !important;
  background-color: themeBlue(0) !important;
}

.tm-text-blue {
  color: themeBlue(0) !important;
}

.tm-desktop {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.tm-mobile {
  @media (min-width: 601px) {
    display: none !important;
  }
}


