@import 'styles/w3.scss';
@import 'styles/variables.scss';


html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $lightGray;
}

main {
  padding: 16px 16px;
  @include mobile {
    padding: 8px 8px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

label.main {
  font-weight: bold;
}

.w3-select {
  background-color: white;
  padding: 8px;
}

.w3-hoverable tbody tr:hover {
	cursor: pointer;
}

form > p {
  margin: 24px 0px;
}

.tm-center {
  text-align: center;
}

.tm-blue {
  color: white !important;
  background-color: themeBlue(0) !important;
}

.tm-text-blue {
  color: themeBlue(0) !important;
}

.tm-green {
  color: white !important;
  background-color: themeGreen(0) !important;
}

.tm-desktop {
  @include mobile {
    display: none !important;
  }
}

.tm-mobile {
  @include desktop {
    display: none !important;
  }
}

.w3-col.tm-right-align {
  text-align: right;

  @include mobile {
    padding-top: 8px;
    text-align: left;
  }
}

div.w3-col {

  &.tm-left {
    padding-right: 8px;
  }
  
  &.tm-right {
    padding-left: 8px;
  }

  @include mobile {
    &.tm-left {
      padding-right: 0px;
    }
    
    &.tm-right {
      margin-top: -15px;
      padding-left: 0px;
    }   
  }
}


