@import 'styles/w3.scss';
@import 'styles/variables.scss';

$mobile-width: 600px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $lightGray;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

label.main {
  font-weight: bold;
}

.w3-container {
  @include mobile {
    padding: 8px !important;
  }
}

.w3-btn {
  border-radius: 3px;
  font-weight: bold;
}

.w3-select {
  background-color: white;
  border-radius: 5px;
}

.w3-hoverable tbody tr:hover {
	cursor: pointer;
}

form > p {
  margin: 24px 0px;
}

.w3-center {
  text-align: center;
}

.tm-blue {
  color: white !important;
  background-color: themeBlue(0) !important;
}

.tm-text-blue {
  color: themeBlue(0) !important;
}

.tm-green {
  color: white !important;
  background-color: themeGreen(0) !important;
}

.tm-desktop {
  @include mobile {
    display: none !important;
  }
}

.tm-mobile {
  @include desktop {
    display: none !important;
  }
}

.w3-col.tm-right {
  text-align: right;
  @media (max-width: 600px) {
    padding-top: 8px;
    text-align: left;
  }
}


