@import '/src/styles/variables.scss';

div.form {
  @include desktop {
    width: 450px;
  }
  margin: 0px auto;
}

div.tags {
  margin: 8px 0px;

  span {
    font-size: 13px;
    margin-right: 4px;
    padding: 0px 3px;
    background-color: themeBlue(0);
    cursor: pointer;
  }
}